.main-section {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 75rem;
}

.slideshow {
  width: 40rem;
  height: 25rem;
}

.hero {
  font-size: 1.5rem;
}

.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ctas {
  font-size: 1.5rem;
  display: flex;
  gap: 1rem;
}

.ctas a {
  appearance: none;
  height: 48px;
  padding: 0 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
}

.ctas a:hover,
.ctas a:active {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.ctas a:first-child {
  background: transparent;
  font-weight: normal;
  color: #ff9b05;
  padding-left: 0;
}

.ctas a:first-child:hover,
.ctas a:first-child:active {
  background: transparent;
  color: #f9b241;
}

@media (max-width: 600px) {
  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  color: #ddd6cb;
  font-size: 1.5rem;
  max-width: 50rem;
  width: 90%;
  margin: 2rem auto;
  text-align: center;
}

.section h2 {
  padding: 1rem 0;
}

.section p {
  padding: 0.5rem 0;
}